In [1]:
import  pandas

In [7]:
dataset=pandas.read_csv('SalaryData.csv')

In [8]:
dataset

    Year of Experience  Salary
0                  1.1   39343
1                  1.3   46205
2                  1.5   37731
3                  2.0   43525
4                  2.2   39891
5                  2.9   56642
6                  3.0   60150
7                  3.2   54445
8                  3.2   64445
9                  3.7   57189
10                 3.9   63218
11                 4.0   55794
12                 4.0   56597
13                 4.1   57081
14                 4.5   61111
15                 4.9   67938
16                 5.1   66029
17                 5.3   83088
18                 5.9   81363
19                 6.0   93940
20                 6.8   91738
21                 7.1   98273
22                 7.9  101302
23                 8.2  113812
24                 8.7  109431
25                 9.0  105582
26                 9.5  116963
27                 9.6  112635
28                10.3  122391
29                10.5  121872

In [5]:
dataset.columns

Index(['Year of Experience', 'Salary'], dtype='object')

In [9]:
y = dataset['Salary']

In [10]:
x = dataset['Year of Experience']

In [18]:
x

0      1.1
1      1.3
2      1.5
3      2.0
4      2.2
5      2.9
6      3.0
7      3.2
8      3.2
9      3.7
10     3.9
11     4.0
12     4.0
13     4.1
14     4.5
15     4.9
16     5.1
17     5.3
18     5.9
19     6.0
20     6.8
21     7.1
22     7.9
23     8.2
24     8.7
25     9.0
26     9.5
27     9.6
28    10.3
29    10.5
Name: Year of Experience, dtype: float64

In [19]:
x = x.values#convert into numpy
x = x.reshape(-1,1)

In [12]:
from sklearn.linear_model import LinearRegression

In [16]:
model = LinearRegression()

In [20]:
model.fit(x,y)

LinearRegression()

In [22]:
 model.predict([[10.1]])

array([121233.79477753])

In [24]:
c = model.coef_

In [25]:
 model.predict([[0]])

array([25769.8155464])

In [27]:
import joblib

In [28]:
joblib.dump(model, 'Salary.pk')

['Salary.pk']